---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    margin: 0 8px 0 8px;
    line-height: 1.0;
  }

@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
}

.masthead {
    background: rgb(233,220,190);
    background: linear-gradient(0deg, rgba(233,220,190,1) 0%, rgba(186,170,146,1) 5%, rgba(255,240,205,1) 100%);
}

.greedy-nav {
    background: transparent;
    background-color: transparent;
}

figcaption {
    border-top: 2px solid rgb(169, 13, 94);
    border-bottom: 2px solid rgb(169, 13, 94);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

figure {
    // display: inline-block;
    // text-align: center;
    flex-flow: column;
    img {
       width: auto; 
    }
}